@use "./config.scss" as config;
@use "./mixins.scss" as mi;

.article {
	padding: mi.rem(104) 0 calc(var(--section-space) * 2);
	@media (max-width: config.$mbpT) {
		padding: mi.rem(80) 0 calc(var(--section-space) * 2);
	}
	@media (max-width: config.$mbpMM) {
		padding: mi.rem(70) 0 calc(var(--section-space) * 2);
	}
	&__container {
		display: grid;
		grid-template-columns: 100%;
		& > * {
			grid-row: 1/span 1;
			grid-column: 1/span 1;
		}
	}
	&__widget-anchor-wrapper {
		align-self: start;
		display: grid;
		align-items: end;
		height: calc(var(--vhu, 1vh) * 100 - var(--section-space) * 2 - mi.rem(48));
		height: calc(var(--vhu, 1svh) * 100 - var(--section-space) * 2 - mi.rem(48));
		@media (max-width: config.$mbpT) {
			height: calc(var(--vhu, 1vh) * 100 - var(--section-space) * 2 - mi.rem(32));
			height: calc(var(--vhu, 1svh) * 100 - var(--section-space) * 2 - mi.rem(32));
		}
		@media (max-width: config.$mbpMM) {
			height: calc(var(--vhu, 1vh) * 100 - var(--section-space) * 2 - mi.rem(16));
			height: calc(var(--vhu, 1svh) * 100 - var(--section-space) * 2 - mi.rem(16));
		}
	}
	&__widget-anchor {
		height: mi.rem(60);
	}
	&__inner {
		max-width: mi.rem(830);
	}
	&__body {
		display: grid;
		gap: mi.rem(30);
	}
	& h1 {
		font-size: mi.rem(42);
		line-height: 1;
		margin-bottom: mi.rem(30);
		@media (max-width: config.$mbpMM) {
			font-size: mi.rem(24);
		}
	}
	&__block {
	}
	&__body {
		h2:not(:last-child) {
			font-size: mi.rem(32);
			line-height: 1;
			margin-bottom: mi.rem(20);
			@media (max-width: config.$mbpT) {
				font-size: mi.rem(32);
			}
			@media (max-width: config.$mbpMM) {
				font-size: mi.rem(20);
			}
		}
		p:not(:last-child) {
			margin-bottom: mi.rem(10);
		}
		ol {
			counter-reset: item-number;
			list-style: none;
			display: grid;
			gap: mi.rem(10);
			li {
				counter-increment: item-number;
				&::before {
					content: counter(item-number) ". ";
				}
			}
		}
	}
}