@font-face {
	font-family: 'GeologicaRoman';
	src: local('☺'), url('fonts/GeologicaRoman-Light.woff') format('woff'),url('fonts/GeologicaRoman-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
font-display: swap;
}
