@use "./config.scss" as config;
@use "./mixins.scss" as mi;

.burger-btn {
	&__inner {
		width: mi.rem(16);
		overflow: visible;
		@media (max-width: config.$mbpT) {
			width: mi.rem(17.54);
		}
		@media (max-width: config.$mbpMM) {
			width: mi.rem(11.63);
		}
	}
	&__line {
		transition: transform 0.4s, opacity 0.4s;
		transform-origin: left center;
		transform-box: fill-box;
		will-change: transform;
	}
	.drawer-trigger_active &__line {
		&:first-child {
			transform: translate(16%, mi.rem(0.5)) rotate(45deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:last-child {
			transform: translate(16%, 0) rotate(-45deg);
		}
	}
}
.header-menu {
	--color: var(--color-text-light);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	:root._initialized & {
		transition: visibility 0.8s;
	}
	&.drawer_open {
		visibility: visible;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #00000066;
		opacity: 0;
		transition: opacity var(--speed);
	}
	&.drawer_open::before {
		opacity: 1;
	}
	&__panel {
		border-bottom-right-radius: mi.rem(24);
		border-top-right-radius: mi.rem(24);
		overflow: hidden;
		padding: mi.rem(60);
		width: 100%;
		max-width: mi.rem(580);
		height: 100%;
		background-color: var(--color-sf-light-blur);
		backdrop-filter: blur(80px);
		:root._initialized & {
			transition: transform cubic-bezier(0, 0.25, 0, 1) 0.8s;
		}
		transform: translateX(-100%);
		//animation: hide-header-menu 0.8s 0.4s cubic-bezier(0, 0.25, 0, 1) forwards;
		.drawer_open & {
			transform: translateX(0);
			// animation: show-header-menu 0.8s cubic-bezier(0, 0.25, 0, 1) forwards;
		}
		@media (max-width: config.$mbpT) {
			padding: mi.rem(32);
			border-radius: 0;
			max-width: none;
		}
		@media (max-width: config.$mbpMM) {
			padding: mi.rem(32) mi.rem(16);
		}
		// @keyframes show-header-menu {
		// 	0% {
		// 		clip-path: var(--start-clip);
		// 	}
		// 	90% {
		// 		clip-path: var(--mid-clip);
		// 	}
		// 	100% {
		// 		clip-path: var(--end-clip);
		// 	}
		// }
		// @keyframes hide-header-menu {
		// 	0% {
		// 		clip-path: var(--end-clip);
		// 	}
		// 	10% {
		// 		clip-path: var(--mid-clip);
		// 	}
		// 	100% {
		// 		clip-path: var(--start-clip);
		// 	}
		// }
	}
	&__panel-inner {
		display: flex;
		align-items: center;
		overflow: auto;
		height: 100%;
		& > * {
			flex: 1 1 auto;
		}
	}	
	&__nav {
		counter-reset: item-number;
		font-size: mi.rem(26);
		margin: auto 0;
		@media (max-width: config.$mbpT) {
			font-size: mi.rem(32);
		}
		@media (max-width: config.$mbpMM) {
			font-size: mi.rem(20);
		}
	}
	&__item-inner {
		display: inline-flex;
		overflow: hidden;
	}
	&__item {
		display: flex;
		counter-increment: item-number;
		padding: mi.rem(11) 0;
		&:not(:last-child) {
			border-bottom: 1px solid var(--color-border-light);
		}
		@media (max-width: config.$mbpT) {
			padding: mi.rem(14.5) 0;
		}
		@media (max-width: config.$mbpMM) {
			padding: mi.rem(10.5) 0;
		}
	}
	&__item-label {
		display: inline-block;
		will-change: transform;
		&::before {
			content: counters(item-number, "-", decimal-leading-zero);
			font-size: 0.5714em;
			display: inline-block;
			margin-right: 1.33em;
		}
	}
}
.header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: calc(100vw - var(--scroll-width));
	&__underlay {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 130%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
		transform: translateZ(0) translateY(-24%);
		&>div {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		&>div:nth-of-type(1) {
			z-index: 2;
			-webkit-backdrop-filter: blur(0.0878477306rem);
			backdrop-filter: blur(0.0878477306rem);
			-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(12.5%, white), color-stop(37.5%, white), color-stop(50%, rgba(255, 255, 255, 0)));
			-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 12.5%, white 37.5%, rgba(255, 255, 255, 0) 50%);
			mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(12.5%, white), color-stop(37.5%, white), color-stop(50%, rgba(255, 255, 255, 0)));
			mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 12.5%, white 37.5%, rgba(255, 255, 255, 0) 50%);
			-webkit-filter: brightness(91%);
			filter: brightness(91%)
		}

		&>div:nth-of-type(2) {
			z-index: 3;
			-webkit-backdrop-filter: blur(0.2635431918rem);
			backdrop-filter: blur(0.2635431918rem);
			-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(12.5%, rgba(255, 255, 255, 0)), color-stop(37.5%, white), color-stop(50%, white), color-stop(62.5%, rgba(255, 255, 255, 0)));
			-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 12.5%, white 37.5%, white 50%, rgba(255, 255, 255, 0) 62.5%);
			mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(12.5%, rgba(255, 255, 255, 0)), color-stop(37.5%, white), color-stop(50%, white), color-stop(62.5%, rgba(255, 255, 255, 0)));
			mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 12.5%, white 37.5%, white 50%, rgba(255, 255, 255, 0) 62.5%);
			-webkit-filter: brightness(90%);
			filter: brightness(90%)
		}

		&>div:nth-of-type(3) {
			z-index: 4;
			-webkit-backdrop-filter: blur(0.3513909224rem);
			backdrop-filter: blur(0.3513909224rem);
			-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(37.5%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(62.5%, white), color-stop(75%, rgba(255, 255, 255, 0)));
			-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 37.5%, white 50%, white 62.5%, rgba(255, 255, 255, 0) 75%);
			mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(37.5%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(62.5%, white), color-stop(75%, rgba(255, 255, 255, 0)));
			mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 37.5%, white 50%, white 62.5%, rgba(255, 255, 255, 0) 75%);
			-webkit-filter: brightness(89%);
			filter: brightness(89%)
		}

		&>div:nth-of-type(4) {
			z-index: 5;
			-webkit-backdrop-filter: blur(0.5270863836rem);
			backdrop-filter: blur(0.5270863836rem);
			-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(62.5%, white), color-stop(75%, white), color-stop(87.5%, rgba(255, 255, 255, 0)));
			-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, white 62.5%, white 75%, rgba(255, 255, 255, 0) 87.5%);
			mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(62.5%, white), color-stop(75%, white), color-stop(87.5%, rgba(255, 255, 255, 0)));
			mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, white 62.5%, white 75%, rgba(255, 255, 255, 0) 87.5%);
			-webkit-filter: brightness(96%);
			filter: brightness(96%)
		}
	}
	&.dark-context &__logo_dark, &:not(.dark-context) &__logo_light {
		visibility: hidden;
		opacity: 0;
	}
	.header-menu.drawer_open ~ .header__group &__logo_dark {
		visibility: hidden;
		opacity: 0;
	}
	.header-menu.drawer_open ~ .header__group &__logo_light {
		visibility: visible;
		opacity: 1;
	}
	&__logos {
		position: relative;
		z-index: 1;
		display: grid;
		align-items: center;
		justify-content: center;
	}
	&__logo {
		grid-row: 1/span 1;
		grid-column: 1/span 1;
		@media (max-width: config.$mbpT) {
			--width: #{mi.rem(142)};
		}
		@media (max-width: config.$mbpMM) {
			--width: #{mi.rem(84)};
		}
	}
	[data-page="index"] &__logos {
		pointer-events: none;
	}
	&__container {
		display: grid;
		justify-content: space-between;
		grid-auto-flow: column;
		padding-top: mi.rem(20);
		padding-bottom: mi.rem(20);
	}
	&__menu {
		position: fixed;
	}
	&__group {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: mi.rem(24);
		@media (max-width: config.$mbpT) {
			gap: mi.rem(20);
		}
		@media (max-width: config.$mbpMM) {
			gap: mi.rem(17);
		}
		&_sm-gap {
			gap: mi.rem(14);
		}
	}
	&__tel {
		@media (max-width: config.$mbpT) {
			& .link__label {
				display: inline-block;
				position: absolute;
				width: 0;
				height: 0;
				overflow: hidden;
			}
		}
		@media (min-width: (config.$mbpT + 1px)) {
			& .link__icon {
				display: none;
			}
		}
	}
	&__social {
		&_desc {
			@media (max-width: config.$mbpT) {
				display: none;
			}
		}
		&_mob {
			@media (min-width: (config.$mbpT + 1px)) {
				display: none;
			}
		}
	}
	&__separator {
		width: mi.rem(4);
		height: mi.rem(4);
		border-radius: 50%;
		background-color: #4E4E4E;
		opacity: 0.5;
		@media (max-width: config.$mbpMM) {
			display: none;
		}
	}
	&__burger-btn {
		z-index: 1;
	}
}