@use "./config.scss" as config;
@use "./mixins.scss" as mi;

.marketplaces-section {
	&__container {
		display: grid;
		grid-template-columns: 100%;
		color: var(--color-text-light);
		position: relative;
		overflow: hidden;
		border-radius: mi.rem(24);
		@media (max-width: config.$mbpT) {
			max-width: calc(min(100%, 1920px) - var(--container-space) * 4);
		}
		&::before {
			content: "";
			width: 100%;
			grid-row: 1/span 1;
			grid-column: 1/span 1;
			padding-top: 46%;
			@media (max-width: config.$mbpT) {
				padding-top: 146%;
			}
			@media (max-width: config.$mbpMM) {
				padding-top: 156.25%;
			}
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 120%;
		object-fit: cover;
	}
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: end;
		grid-row: 1/span 1;
		grid-column: 1/span 1;
		padding: mi.rem(60) mi.rem(100);
		@media (max-width: config.$mbpT) {
			padding: mi.rem(40) mi.rem(17);
			flex-direction: column;
		}
		@media (max-width: config.$mbpMM) {
			padding: mi.rem(20) mi.rem(16) mi.rem(30);
		}
	}
	&__inner {
		flex: 0 1 min-content;
		@media (max-width: config.$mbpT) {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		margin-bottom: mi.rem(30);
		@media (max-width: config.$mbpT) {
			flex: 1 1 auto;
		}
	}
	&__description {
		justify-self: end;
		margin-bottom: mi.rem(40);
		@media (max-width: config.$mbpT) {
			margin-bottom: mi.rem(30);
		}
		@media (max-width: config.$mbpMM) {
			margin-bottom: mi.rem(16);
		}
	}
	&__links {
		display: grid;
		grid-auto-flow: column;
		justify-content: start;
		gap: mi.rem(10);
		@media (max-width: config.$mbpT) {
			gap: mi.rem(14);
		}
		@media (max-width: config.$mbpMM) {
			gap: mi.rem(8);
		}
	}
	&__link {
		display: inline-grid;
		align-items: center;
		grid-auto-flow: column;
		gap: mi.rem(8);
		background-color: var(--color-sf-bg-02);
		backdrop-filter: blur(30px);
		padding: mi.rem(10);
		padding-right: mi.rem(20);
		border-radius: mi.rem(16);
		white-space: nowrap;
		@media (max-width: config.$mbpT) {
			padding: 0;
		}
	}
	&__link-view {
		width: mi.rem(40);
		height: mi.rem(40);
		border-radius: mi.rem(8);
		@media (max-width: config.$mbpT) {
			width: mi.rem(70);
			height: mi.rem(70);
			border-radius: mi.rem(14);
		}
		@media (max-width: config.$mbpMM) {
			width: mi.rem(42);
			height: mi.rem(42);
			border-radius: mi.rem(8);
		}
	}
	&__link .link__label {
		@media (max-width: config.$mbpT) {
			width: 0;
			height: 0;
			position: absolute;
			overflow: hidden;
			pointer-events: none;
		}
	}
	&__link .link__icon {
		font-size: mi.rem(12);
		@media (max-width: config.$mbpT) {
			display: none;
		}
	}
}