@use "./config.scss" as config;
@use "./mixins.scss" as mi;

.projects {
	position: relative;
	z-index: 1;
	color: var(--color-text-light);
	overflow: hidden;
	background-color: var(--color-sf-bg-inverted);
	&__container {
		position: relative;
		z-index: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr auto;
		gap: mi.rem(14);
		& > * {
			grid-column: 1/span 1;
		}
		@media (max-width: config.$mbpT) {
			grid-template-rows: 1fr auto;
			max-width: calc(100% - var(--container-space) * 4);
		}
		@media (max-width: config.$mbpMM) {
			gap: mi.rem(20);
		}
	}
	&__slider {
		position: relative;
		z-index: -1;
		grid-row: 1/span 3;
		border-radius: mi.rem(24);
		overflow: hidden;
		@media (max-width: config.$mbpT) {
			grid-row: 1/span 2;
			overflow: visible;
		}
		@media (max-width: config.$mbpMM) {
			grid-row: 2/span 1;
		}
	}
	&__slide {
		flex: 0 0 100%;
	}
	&__slide-inner {
		position: relative;
		--ratio: 54.21%;
		width: 100%;
		overflow: hidden;
		cursor: grab;
		@media (max-width: config.$mbpT) {
			--ratio: 140%;
			border-radius: mi.rem(24);
		}
		@media (max-width: config.$mbpMM) {
			--ratio: 150%;
			border-radius: mi.rem(16);
		}
		& img {
			pointer-events: none;
		}
	}
	&__slide-btn {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: mi.rem(20);
		width: mi.rem(40);
		height: mi.rem(40);
		right: mi.rem(20);
		bottom: mi.rem(20);
		background-color: #5B5B5B33;
		backdrop-filter: blur(25px);
		border-radius: mi.rem(10);
		overflow: hidden;

		transition: color var(--speed);
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-accent);
			}
		}
		@media (min-width: (config.$mbpT + 1px)) {
			display: none;
		}
		@media (max-width: config.$mbpMM) {
			bottom: auto;
			top: mi.rem(8);
			right: mi.rem(8);
			width: mi.rem(32);
			height: mi.rem(32);
		}
	}
	&__header {
		grid-row: 1/span 1;
		padding: mi.rem(32) mi.rem(32) 0;
		pointer-events: none;
		@media (max-width: config.$mbpT) {
			padding: mi.rem(20) mi.rem(20) 0;
		}
		@media (max-width: config.$mbpMM) {
			color: var(--color-text-primary);
			padding: 0;
			pointer-events: all;
		}
	}
	&__title {
		margin-bottom: mi.rem(20);
		@media (max-width: config.$mbpMM) {
			margin-bottom: mi.rem(14);
		}
		&_desc {
			@media (max-width: config.$mbpT) {
				display: none;
			}
		}
		&_tablet {
			@media (min-width: (config.$mbpT + 1px)) {
				display: none;
			}
		}
	}
	&__description {
		max-width: mi.rem(590);
	}
	&__info {
		grid-row: 2/span 1;
		align-self: end;
		justify-self: start;
		padding: 0 mi.rem(32);
		padding: mi.rem(32) mi.rem(32) 0;
		pointer-events: none;
		@media (max-width: config.$mbpT) {
			padding: mi.rem(20);
		}
		@media (max-width: config.$mbpMM) {
			padding: 0 mi.rem(8) mi.rem(8);
			justify-self: stretch;
		}
	}
	&__info-panel {
		backdrop-filter: blur(64px);
		border-radius: mi.rem(16);
		max-width: mi.rem(240);
		background-color: var(--color-sf-bg-02);
		transition: height var(--speed), width var(--speed);
		overflow: hidden;
		@media (max-width: config.$mbpMM) {
			max-width: none;
		}
		& > * {
			grid-row: 1/span 1;
			grid-column: 1/span 1;
		}
	}
	&__info-panel-wrapper {
		font-size: mi.rem(10);
		padding: mi.rem(14);
	}
	&__info-panel-inner {
		position: relative;
	}
	&__info-item {
		transition: visibility var(--speed), opacity var(--speed);
		&:not(&_active) {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			visibility: hidden;
			opacity: 0;
		}
	}
	&__info-item-title {
		font-size: mi.rem(14);
		margin-bottom: mi.rem(10);
		@media (max-width: config.$mbpT) {
			font-size: mi.rem(16);
			margin-bottom: mi.rem(6);
		}
	}
	&__info-item-row {
		display: flex;
		flex-wrap: wrap;
		margin-left: mi.rem(-20);
		margin-top: mi.rem(-8);
		pointer-events: none;
		@media (min-width: (config.$mbpMM + 1px)) and (max-width: config.$mbpT) {
			margin-top: mi.rem(-6);
		}
		& > * {
			margin-left: mi.rem(20);
			margin-top: mi.rem(8);
			pointer-events: all;
			@media (min-width: (config.$mbpMM + 1px)) and (max-width: config.$mbpT) {
				margin-top: mi.rem(6);
			}
		}
		&_prices {
			justify-content: space-between;
		}
		&_size {
			margin-bottom: mi.rem(8);
		}
		&_composition {
			margin-bottom: mi.rem(10);
			@media (max-width: config.$mbpT) {
				margin-bottom: mi.rem(6);
			}
		}
	}
	&__info-item-chars {
		margin-bottom: mi.rem(8);
	}
	&__info-item-col {
		display: grid;
		gap: mi.rem(10);
	}
	&__info-item-desc {
		font-size: mi.rem(8);
		margin-top: mi.rem(4);
		@media (max-width: config.$mbpT) {
			font-size: mi.rem(10);
		}
	}
	&__bottom {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-row: 3/span 1;
		padding: 0 mi.rem(32) mi.rem(32);
		@media (max-width: config.$mbpT) {
			display: none;
		}
	}
	&__navigation {
		display: inline-grid;
		justify-content: start;
		grid-auto-flow: column;
		gap: mi.rem(8);
	}
	&__pagination {
		align-self: end;
		display: grid;
		grid-auto-flow: column;
		gap: mi.rem(6);
		.swiper-pagination-bullet {
			width: mi.rem(7);
			height: mi.rem(7);
			border-radius: mi.rem(7);
			overflow: hidden;
			background-color: var(--color-text-light-04);
			transition: width var(--speed), color var(--speed);
			&-active {
				width: mi.rem(60);
				background-color: var(--color-accent);
			}
		}
	}
}
.project-info-price {
	font-size: mi.rem(20);
	@media (max-width: config.$mbpT) {
		font-size: mi.rem(24);
	}
	@media (max-width: config.$mbpMM) {
		font-size: mi.rem(20);
	}
	& small {
		font-size: 0.56em;
	}
}
.project-info-block {
	&__title {
		color: var(--color-text-light-04);
		margin-bottom: mi.rem(2);
		@media (max-width: config.$mbpT) {
			font-size: mi.rem(12);
		}
	}
	&__body {
		&_size {
			font-size: mi.rem(16);
		}
	}
}
.project-composition, .project-color {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	gap: mi.rem(4);
	&__icon {
		width: mi.rem(12);
		height: mi.rem(16);
		object-fit: contain;
	}
}
.project-color {
	&__view {
		width: mi.rem(12);
		height: mi.rem(12);
		object-fit: contain;
		border-radius: 50%;
		margin: mi.rem(2) 0;
	}
}
.project-set {
	display: grid;
	gap: mi.rem(7);
	&__row {
		display: flex;
		align-items: center;
	}
	&__icon {
		width: mi.rem(12);
		height: mi.rem(16);
		margin-right: mi.rem(4);
		object-fit: contain;
	}
	&__title {
		flex: 1 1 auto;
		display: flex;
		&::after {
			flex: 1 1 auto;
			content: "";
			display: inline-block;
			color: var(--color-text-light-02);
			border-bottom: 2px dotted var(--color-text-light-02);
			margin: 0.2em 0.3em;
		}
	}
}
.project-info-chars {
	&__toggle {
		font-size: mi.rem(12);
		margin-bottom: mi.rem(4);
		pointer-events: all;
		@media (min-width: (config.$mbpT + 1px)) {
			display: none;
		}
		@media (max-width: config.$mbpMM) {
			
		}
	}
	&__body {
		@media (max-width: config.$mbpT) {
			overflow: hidden;
			height: 0;
			transition: height var(--speed);
		}
	}
	&.disclosure_open &__body {
		height: var(--inner-height);
	}
	&.disclosure_open .link__icon {
		transform: rotateX(180deg);
	}
}