---
import Layout from '../layouts/Layout.astro';

const terms = [
	"Персональные данные (ПД) – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту ПД)",
	"Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.",
	"Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.",
	"Информационная система персональных данных (ИСПД) – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.",
	"Персональные данные, сделанные общедоступными субъектом персональных данных, – ПД, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе.",
	"Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).",
	"Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.",
	"Cookie – это часть данных, автоматически располагающаяся на жестком диске компьютера при каждом посещении веб-сайта. Таким образом, cookie – это уникальный идентификатор браузера для веб-сайта. Cookie дают возможность хранить информацию на сервере и помогают легче ориентироваться в веб-пространстве, а также позволяют осуществлять анализ сайта и оценку результатов. Большинство веб-браузеров разрешают использование cookie, однако можно изменить настройки для отказа от работы с cookie или отслеживания пути их рассылки. При этом некоторые ресурсы могут работать некорректно, если работа cookie в браузере будет запрещена.",
	"Веб-отметки. На определенных веб-страницах или электронных письмах Оператор может использовать распространенную в Интернете технологию «веб-отметки» (также известную как «тэги» или «точная GIF-технология»). Веб-отметки помогают анализировать эффективность веб-сайтов, например, с помощью измерения числа посетителей сайта или количества «кликов», сделанных на ключевых позициях страницы сайта.",
	"Оператор – организация, самостоятельно или совместно с другими лицами организующая и (или) осуществляющая обработку персональных данных, а также определяющая цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.",
	"Пользователь – пользователь сети Интернет.",
	"Сайт - любой из сайтов, в том числе qumen.ru."
];
const provisions = [
	"Настоящая Политика в отношении обработки персональных данных (далее – Политика) составлена в соответствии с пунктом 2 статьи 18.1 Федерального закона «О персональных данных» №152-ФЗ от 27 июля 2006 г., а также иными нормативно-правовыми актами Российской Федерации в области защиты и обработки персональных данных и действует в отношении всех персональных данных, которые Оператор может получить от Пользователя во время использования им в сети Интернет Сайта.",
	"Оператор обеспечивает защиту обрабатываемых персональных данных от несанкционированного доступа и разглашения, неправомерного использования или утраты в соответствии с требованиями Федерального закона от 27 июля 2006 г. №152-ФЗ «О персональных данных».",
	"Оператор имеет право вносить изменения в настоящую Политику. При внесении изменений в заголовке Политики указывается дата последнего обновления редакции. Новая редакция Политики вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией Политики.",
	"Оператор обязан опубликовать или иным образом обеспечить неограниченный доступ к настоящей Политике обработки персональных данных в соответствии с ч. 2 ст. 18.1. ФЗ-152."
];
const privacy = [
	"законности и справедливой основы;",
	"ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;",
	"недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;",
	"недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;",
	"соответствия содержания и объема обрабатываемых персональных данных заявленным целям обработки;",
	"недопущения обработки персональных данных, избыточных по отношению к заявленным целям их обработки;",
	"обеспечения точности, достаточности и актуальности персональных данных по отношению к целям обработки персональных данных;",
	"уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения Оператором допущенных нарушений персональных данных, если иное не предусмотрено федеральным законом.",
];
---

<Layout title="Кьюмен" description="Домашняя страница" page='policy'>
	<div class="builder-widget builder-widget_collapsed" data-component="builder-widget">
		<div class="builder-widget__wrapper">
			<div class="builder-widget__panel" data-elem="builder-widget.panel">
				<!-- data-drawer-toggle="design-product-form" -->
			<button data-drawer-toggle="design-product-form" type="button" class="builder-widget__button builder-widget__button_project">
				<div class="builder-widget__button-inner">
					<div class="builder-widget__header">
						<div class="builder-widget__label">Дизайн-проект</div>
					</div>
				</div>
			</button>
			<div class="builder-widget__separator"></div>
			<a href="builder.html" class="builder-widget__button builder-widget__button_builder">
				<div class="builder-widget__button-inner">
					<div class="builder-widget__header">
						<div class="builder-widget__header-icon icon-builder"></div>
						<div class="builder-widget__label">Конструктор</div>
					</div>
				</div>
			</a>
		</div>
		</div>
	</div>
	<section class="article" data-elem="builder-widget.main">
		<div class="container article__container">
			<div class="article__inner">
				<div class="article__header">
					<h1 class="article__title tg-h2">Политика обработки<br>персональных данных</h1>
				</div>
				<div class="article__body">
					<div class="article__block">
						<h2 class="article__block-title tg-h3">Термины и принятые сокращения</h2>
						<div class="article__block-body tg-p1">
							<ol class="article-ol">
								{
									terms.map(item => <li class="article-ol__item">{item}</li>)
								}
							</ol>
						</div>
					</div>
					<div class="article__block">
						<h2 class="article__block-title tg-h3">Общие положения</h2>
						<div class="article__block-body tg-p1">
							<ol class="article-ol">
								{
									provisions.map(item => <li class="article-ol__item">{item}</li>)
								}
							</ol>
						</div>
					</div>
					<div class="article__block">
						<h2 class="article__block-title tg-h3">Принципы обработки<br>персональных данных</h2>
						<div class="article__block-body tg-p1">
							<div class="article__list-title">Обработка персональных данных у Оператора осуществляется на основе следующих принципов:</div>
							<ol class="article-ol">
								{
									privacy.map(item => <li class="article-ol__item">{item}</li>)
								}
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="article__widget-anchor-wrapper">
				<div class="article__widget-anchor" data-elem="builder-widget.top-anchor"></div>
			</div>
		</div>
	</section>
</Layout>