<div class="drawer drawer_cookies cookies-agreement" data-drawer="cookies-agreement" data-lenis-prevent>
	<div class="drawer__panel cookies-agreement__panel" data-elem="drawer.panel">
		<div class="cookies-agreement__text tg-caption-mini">
			Мы используем cookie, <br class="mob-break tablet-break">чтобы улучшить сайт для вас
			<!-- <a href="#" class="link"><span class="link__label">cookie</span></a> -->
		</div>
		<button id="cookies-agreement-btn" class="cookies-agreement__btn btn btn_rect btn_sm btn_primary" data-drawer-close="cookies-agreement">
			<div class="btn__label">Хорошо</div>
		</button>
	</div>
</div>