<div class="drawer drawer_primary drawer_dialog" data-drawer="design-product-form" data-lenis-prevent>
	<div class="drawer__panel" data-elem="drawer.panel">
		<form id="project-form" name="project-form" class="form form_drawer" data-component="form" data-callback="projectFormHandler">
			<div class="form__header">
				<div class="form__title tg-h3">Заказать <br class="mob-break">дизайн&#8209;проект</div>
				<div class="form__description" data-component="text-block-reveal">Оставьте заявку и наши менеджеры обязательно свяжутся с вами для дальнейших обсуждений</div>
				<button type="button" class="form__close-btn btn btn_square btn_md btn_secondary" data-drawer-close="design-product-form">
					<div class="btn__label btn__label_hidden">Закрыть окно</div>
					<div class="btn__icon icon-close"></div>
				</button>
			</div>
			<div class="form__body">
				<label class="field field_text form__field form__field_sm">
					<input required type="text" name="name" class="field__input" placeholder=" ">
					<div class="field__label">Имя*</div>
				</label>
				<label class="field field_text form__field form__field_sm">
					<input required data-rule-tel type="tel" name="tel" class="field__input" placeholder=" " data-component="tel-input">
					<div class="field__label">Телефон*</div>
				</label>
				<label class="field field_text form__field form__field_lg">
					<input required type="email" name="email" class="field__input" placeholder=" ">
					<div class="field__label">Почта*</div>
				</label>
				<label class="field field_textarea form__field form__field_lg">
					<textarea required name="message" class="field__input"  placeholder=" " rows="4" />
					<div class="field__label">Сообщение*</div>
				</label>
				<label class="files-field form__field form__field_lg" data-component="file-drop">
					<input type="file" name="attachments" multiple
						accept=".gif,.jpeg,.jpg,.png,.doc,.pdf,.bmp,.tif,.txt,.rtf,.html,.doc,.docx,.odt,.ppt,.ppcx"
						data-rule-max-file-size="10240"
						data-rule-extension="gif|jpeg|jpg|png|doc|pdf|bmp|tif|txt|rtf|html|doc|docx|odt|ppt|ppcx"
						class="files-field__input">
					<div class="files-field__body">
						<div class="files-field__label">Файлы</div>
						<div class="files-field__selected" data-elem="file-drop.selected"></div>
						<ul class="files-field__conditions">
							<li class="files-field__condition">Принимаемые форматы: gіf, jрg, jреg, рng, bmp, tіf, tхt, rtf, html, рdf, dос, dосх, оdt, ррt, ррсх.</li><li class="files-field__condition">Максимальный размер файла: 10 мб.</li>
						</ul>
						<div class="files-field__tip">
							<div class="files-field__tip-inner">Перетащите файл сюда</div>
						</div>
					</div>
					<div class="files-field__icon icon-drop"></div>
				</label>
			</div>
			<div class="form__footer">
				<label class="field field_checkbox form__field">
					<div class="field__input cm-checkbox">
						<input required name="commercial-notifications" type="checkbox" class="cm-checkbox__input">
						<div class="cm-checkbox__body"></div>
					</div>
					<div class="field__info">
						<div class="field__label">Даю согласие на получение <br class="mob-break">документов и&nbsp;уведомлений <br class="mob-break">на&nbsp;указанный&nbsp;E-mail&nbsp;/&nbsp;Телефон</div>
					</div>
				</label>
				<label class="field field_checkbox form__field">
					<div class="field__input cm-checkbox">
						<input required name="agreement" type="checkbox" class="cm-checkbox__input">
						<div class="cm-checkbox__body"></div>
					</div>
					<div class="field__info">
						<div class="field__label">Согласен на <a href="politics" class="link"><span class="link__label">обработку персональных&nbsp;данных</span></a></div>
					</div>
				</label>
				<button type="submit" class="btn btn_primary btn_rect btn_md">
					<div class="btn__label">Отправить</div>
				</button>
			</div>
		</form>
	</div>
</div>