<div class="drawer drawer_popup" data-drawer="fail-drawer" data-lenis-prevent>
	<div class="drawer__panel drawer__panel" data-elem="drawer.panel">
		<div class="drawer__header">
			<div class="drawer__title tg-h3">Заявку не удалось обработать</div>
			<button type="button" class="drawer__close-btn btn btn_square btn_md btn_secondary" data-drawer-close="fail-drawer">
				<div class="btn__label btn__label_hidden">Закрыть окно</div>
				<div class="btn__icon icon-close"></div>
			</button>
		</div>
		<div class="drawer__body">
			Ваша заявка обработана с ошибкой. Попробуйте пожалуйста позже или воспользуйтесь другим каналом связи
		</div>
	</div>
</div>